/* *,
*::before,
*::after {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.divider {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  align-items: center;
  display: flex;
  margin: 10px 0;
  justify-content: space-evenly;
}

.dividerLine {
  border-top: 1px solid #4285f4ff;
  width: 45%;
}

.dividerText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #4285f4ff;
}


/* .App {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
} */


/* 
.container {
  width: 85%;
} */

.home-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-page {
  min-width: 300px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.social-madia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-button {
  cursor: pointer;
  margin: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #4285f4ff;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  line-height: 50px;
}

.social-icon {
  margin: 0.2rem;
}

.social-icon img {
  width: 46px;
  display: block;
}

.social-title {
  color: #4285f4ff;
  font-weight: bold;
  margin-left: 1rem;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input input {
  border: none;
  border-radius: 30px;
  color: #4285f4ff;
  font-weight: 900;
  font-size: 14px;
  width: 90%;
}

input:focus {
  outline: none;
}

.social-login-button {
  color: #fff;
  background-color: #4285f4ff;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.loading-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}


/* -------------------------------------------------------------------------- */


/*               Loading Indicator from https://loading.io/css/               */


/* -------------------------------------------------------------------------- */

.Link {
  display: contents;
  text-decoration: none;
  /* margin-right: auto; */
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #4285f4ff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #4285f4ff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* -------------------------------------------------------------------------- */


/*             End Loading Indicator from https://loading.io/css/             */


/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */


/*                               Start Todo App                               */


/* -------------------------------------------------------------------------- */


/* The emerging W3C standard
   that is currently Firefox-only */

* {
  scrollbar-width: thin;
  scrollbar-color: #a1a1a1 #171718;
}


/* Works on Chrome/Edge/Safari */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #171718;
}

*::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 20px;
  border: 3px solid #171718;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  list-style-type: none;
  color: #a1a1a1;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  background-color: #171718;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.container-left {
  background-color: #242426;
  min-width: 250px;
  max-width: 400px;
  height: 100%;
  z-index: 1002;
  overflow: auto;
}

@media (max-width: 800px) {
  .container-left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
}

.container-center {
  background-color: #1A1B1C;
  min-width: 350px;
  width: 100%;
  height: 100%;
  margin: 0 2px;
}

.container-right {
  background-color: #1E1E1E;
  max-width: 300px;
  min-width: 300px;
  height: 100%;
  z-index: 1001;
}

@media (max-width: 1020px) {
  .container-right {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
}

.big-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
}

.mid-container {
  overflow: auto;
  overflow-x: hidden;
  flex: 1;
}

.left,
.center,
.right {
  margin-top: 5rem;
}

.overlay {
  cursor: pointer;
  display: none;
  background-color: #0000009d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.overlay-btn {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  z-index: 1005;
}

.overlay-btn .icon img {
  width: 48px;
  padding: 0 4px 4px 4px;
  background-color: #151515;
}

.hide {
  display: none !important;
}

.unhide {
  display: block !important;
}

.unshift {
  display: block;
  transform: translateX(0);
}

.toolbar-item:hover {
  background: #e1e1e1;
}

.toolbar-inner {
  color: #a1a1a1;
  cursor: pointer;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.toolbar-title {
  margin: 0 8px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toolbar-count,
.toolbar-collapse-arrow {
  margin-left: auto;
  padding: 0 4px;
}

.devider {
  margin: 9px 16px;
  height: 1px;
  background-color: #a1a1a1;
}

.add-list-and-group {
  align-items: center;
  display: flex;
  height: 3rem;
}

.add-list {
  flex-grow: 2;
  padding-left: 12px;
  height: 3rem;
  display: flex;
}

.add-list:focus-within {
  border: solid 1px #e1e1e1;
}

.add-list input[type=text] {
  display: inline-block;
  width: 100%;
  padding: 6px 6px 8px 6px;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  color: #a1a1a1;
}


/* .add-group {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
} */


/* .add-group:hover {
  background: #e1e1e1;
} */

.add-group button {
  padding-right: 12px;
}

.group-lists {
  margin-left: 19px;
  display: none;
}

.tasks {
  padding: 0 3rem;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 800px) {
  .tasks {
    padding: 0 1rem;
  }
}


/* .tasks-toolbar {} */

.tasks-toolbar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-toolbar-options {
  position: relative;
}

.tasks-toolbar-options button {
  padding: 0.3rem;
}

.tasks-toolbar-options:hover {
  background-color: #e1e1e1;
}

.tasks-toolbar-menu {
  display: none;
  position: absolute;
  top: 35px;
  right: 0px;
  background-color: #171718;
  z-index: 111;
}

.task-items {
  margin-top: 2rem;
  position: relative;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-item-body {
  margin: 0.3rem 0;
  border-radius: 5px;
  background-color: #242426;
  min-height: 52px;
  display: flex;
  align-items: center;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  padding: 0 12px;
  flex-wrap: wrap;
}

.checkbox {
  padding: 0px;
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-item-title {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
  flex: 1 1 0px;
  min-height: 52px;
  padding: 8px 12px;
  line-height: 2rem;
  overflow: hidden;
}

.task-item-title:hover {
  background-color: unset !important;
}

.planned {
  display: flex;
  flex-direction: column;
  line-height: unset;
}

.planned-date {
  font-size: 0.7rem;
  color: lightcoral;
}

.add-task-body {
  margin: 3rem 0;
}

.add-task:hover {
  background: unset;
}

.add-task .btn:hover {
  background: unset;
}

.task-detail-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.task-detail-title,
.add-step-body {
  margin: 0;
  border-radius: 0;
}

.editable-title {
  user-select: text;
  cursor: text !important;
}

.detailbar-item {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  background: #242426;
}

.detailbar-item:hover {
  background-color: #242426;
}

.detail-footer {
  width: 100%;
  background: #242426;
}

.detail-footer .toolbar-inner {
  cursor: unset;
  padding: 0;
}

.detail-footer .add-group:hover,
.detail-footer .btn:hover {
  background-color: #242426;
}

.detail-footer:hover {
  background-color: #242426;
}

.detail-footer .toolbar-title {
  margin: auto;
}

.detail-footer .icon {
  transform: rotate(-90deg);
}

.detail-footer button {
  padding: 0 12px;
}

.detail-delete .icon {
  transform: rotate(0);
}

.step {
  width: 100%;
}

.step .icon {
  width: 18px;
}

.return-to-null {
  height: 48px;
  width: 20%;
  margin-left: auto;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.return-to-null:hover {
  background-color: #1A1B1C;
}

.return-to-null i {
  transform: rotate(45deg);
}

.input-container {
  position: relative;
}

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.icon {
  text-align: center;
  display: inline-block;
  color: #a1a1a1;
  width: 24px;
  display: inline-block;
}

.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}


/* .btn:hover {
  background: #e1e1e1;
} */

.editable-title {
  user-select: text;
  cursor: text;
}


/* -------------------------------------------------------------------------- */


/*                                End Todo App                                */


/* -------------------------------------------------------------------------- */